*******<{{ t "app_name" }}> {{ t "receipt_shopping_list" }}*********
{{range .LineItems}}
{{ t "receipt_name"}}: {{ .Product.Name }}, {{ t "receipt_quantity"}}: {{ .Quantity }} {{with $unit_key := unit_key_of .Product.Unit }}{{ t $unit_key }}{{end}}, {{ t "receipt_price"}}: {{ money_of .Product.Price}}, {{ t "receipt_subtotal"}}: {{ money_of .Subtotal}}{{ if gt .CostSaving 0.0 }}, {{ t "receipt_save" }}: {{ money_of .CostSaving }}{{end}}
{{end}}
{{with $favroable_map := .FavorableLineItemMap}}
{{if $favroable_map }}
--------------------------------------------
{{end}}
{{range $key, $value := $favroable_map}}
{{t $key}}{{ t "product" }}:
{{range $value }}
{{ t "receipt_name"}}: {{ .Product.Name }}, {{ t "receipt_quantity"}}: {{ .Quantity }} {{with $unit_key := unit_key_of .Product.Unit }}{{ t $unit_key }}{{end}}
{{end}}
{{end}}
{{end}}
--------------------------------------------
{{ t "receipt_total" }}: {{ money_of .Total }}
{{with $cost_saving := .CostSaving }}
{{if gt $cost_saving 0.0 }}
{{ t "receipt_save" }}: {{ money_of $cost_saving }}
{{end}}
{{end}}
********************************************